
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.164);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 1;
  width: 100%;

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90px;
    height: 100px;

    img {
      height: 80px;
      width: 90px;
      padding: 10px 40px;

    }

    .navbar__tagline {
      font-size: 14px;
      color: #16738e; // teal blue
      margin-top: 4px;
    }
  }

  &__menu {
    display: flex;
    gap: 24px;

    a {
      list-style: none;
      text-decoration: none;
      margin-right: 20px;
      color:white;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: skyblue;
      }

      &.active {
        color: red;
        font-weight: 600;
      }
    }
  }

  &__quote {
    a {
      display: inline-block;
      padding: 10px 22px;
      background: linear-gradient(to right, #b90059, #efd6d2);
      border-radius: 50px;
     $white-color:white;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      transition: background 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }

  }
}

